# Python program to get a list of the column headers from a Pandas DataFrame, delete DataFrame columns by name or index, add new column to existing DataFrame.

## 1. Getting a List of the Column Headers
#### To get the list of column headers in a Pandas DataFrame, you can use the df.columns attribute and convert it to a list.

In [134]:
import pandas as pd

# Sample DataFrame
data = {
    'Courses': ['Math', 'Science', 'English', 'History'],
    'Fee': [200, 300, 250, 400],
    'Duration': ['30days', '45days', '35days', '50days'],
    'Discount': [10, 15, 5, 20]
}

df = pd.DataFrame(data)

# Get the list of all column names from headers
column_headers = list(df.columns)
print("The Column Headers:", column_headers)

# Alternatively using tolist()
column_headers_tolist = df.columns.values.tolist()
print("The Column Headers (using tolist()):", column_headers_tolist)

The Column Headers: ['Courses', 'Fee', 'Duration', 'Discount']
The Column Headers (using tolist()): ['Courses', 'Fee', 'Duration', 'Discount']

## 2. How to Use the .drop() Method in Pandas
#### The .drop() method can be used to remove columns by name or index.

In [138]:
# Deleting a column by name
df_dropped = df.drop(columns=['Discount'])
print("\nDataFrame after dropping 'Discount' column:")
print(df_dropped)

# Deleting a column by index (e.g., index 1, which is 'Fee')
df_dropped_index = df.drop(df.columns[1], axis=1)
print("\nDataFrame after dropping column at index 1 (Fee):")
print(df_dropped_index)

# If you want to drop in place, you can do it like this:
df.drop(columns=['Duration'], inplace=True)
print("\nDataFrame after dropping 'Duration' column in place:")
print(df)

DataFrame after dropping 'Discount' column:
   Courses  Fee Duration
0     Math  200   30days
1  Science  300   45days
2  English  250   35days
3  History  400   50days

DataFrame after dropping column at index 1 (Fee):
   Courses Duration  Discount
0     Math   30days        10
1  Science   45days        15
2  English   35days         5
3  History   50days        20

DataFrame after dropping 'Duration' column in place:
   Courses  Fee  Discount
0     Math  200        10
1  Science  300        15
2  English  250         5
3  History  400        20

## 3. Adding New Columns

### Method 1: Adding Columns at the End

In [142]:
# Adding a new column 'C' at the end
df["C"] = [10, 20, 30, 40]
print("\nDataFrame after adding new column 'C' at the end:")
print(df)

DataFrame after adding new column 'C' at the end:
   Courses  Fee  Discount   C
0     Math  200        10  10
1  Science  300        15  20
2  English  250         5  30
3  History  400        20  40

### Method 2: Adding Columns at a Specific Index

In [145]:
# Adding a new column 'D' at index 1
df.insert(1, "D", 5)
print("\nDataFrame after adding new column 'D' at index 1:")
print(df)

DataFrame after adding new column 'D' at index 1:
   Courses  D  Fee  Discount   C
0     Math  5  200        10  10
1  Science  5  300        15  20
2  English  5  250         5  30
3  History  5  400        20  40

### Method 3: Adding Columns with loc

In [148]:
# Adding a new column 'E' using loc
df.loc[:, "E"] = list("abcd")
print("\nDataFrame after adding new column 'E' using loc:")
print(df)

DataFrame after adding new column 'E' using loc:
   Courses  D  Fee  Discount   C  E
0     Math  5  200        10  10  a
1  Science  5  300        15  20  b
2  English  5  250         5  30  c
3  History  5  400        20  40  d

### Method 4: Adding Columns with the assign Function

In [151]:
# Adding a new column 'F' using assign function
df = df.assign(F = df.C * 10)
print("\nDataFrame after adding new column 'F' using assign:")
print(df)

DataFrame after adding new column 'F' using assign:
   Courses  D  Fee  Discount   C  E    F
0     Math  5  200        10  10  a  100
1  Science  5  300        15  20  b  200
2  English  5  250         5  30  c  300
3  History  5  400        20  40  d  400